services:
  mysql:
    image: mysql:8.1
    ports:
      - "3309:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=trust_id
  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: sh -c "rm -f tmp/pids/server.pid && bundle update && bundle exec rails s -b '0.0.0.0'"
    volumes:
      - .:/var/www/app
    ports:
      - "3080:3000"
    environment:
      RAILS_ENV: development
      CLIENT_URL: localhost
    links:
      - mysql
    depends_on:
      - mysql
    stdin_open: true
    tty: true
volumes:
  mysql_data:
networks:
  default:
    external: true
    name: railsnet